// @import "node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #575b74;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: unset;
}

input:focus {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2,
h3 {
    color: #434b56;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 15px;
}

p {
    margin-bottom: 30px;
    color: rgba(67, 75, 86, 0.5);
}

a.button {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 40px;
    padding: 0 30px;
    display: inline-block;
    line-height: 40px;
    transition: all .5s;
    color: #fff;
}

[class$="__header"] p {
    margin-bottom: 45px;
}

.header {
    background-color: #4e5266;
    padding-top: 60px;
    color: #fff;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        line-height: 1.5;

        &__logo {
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;

            a {
                color: inherit;
                display: flex;
                align-items: center;

                span {
                    border-left: 1px solid rgba(255, 255, 255, .25);
                    color: rgba(255, 255, 255, .25);
                    font-size: 12px;
                    margin-left: 10px;
                    padding-left: 10px;
                }
            }

        }

        &__menu {
            text-transform: uppercase;

            i {
                margin-left: 10px;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;

        &__intro {
            text-align: center;
            height: 100%;

            .row {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            &__item {
                padding: 60px 70px 35px;
                height: 100%;

                &--first {
                    background-color: #4cabb1;

                    a {
                        background-color: #5ab7bd;

                        &:hover {
                            background-color: #6cbfc4;
                            color: inherit;
                        }
                    }
                }

                &--second {
                    background-color: #69c7ad;

                    a {
                        background-color: #79d1b8;

                        &:hover {
                            background-color: #8cd7c2;
                            color: inherit;
                        }
                    }

                }

                h2,
                p {
                    color: inherit;
                }

                h2 {
                    margin-bottom: 15px;
                }


            }
        }

        &__banner {
            height: 100%;
        }
    }
}

.main {
    text-align: center;
    background-color: #575b74;

    .features {
        background-color: #fff;
        padding: 70px 70px 40px;

        &__body {
            >[class*=col-]:not(:first-child) {
                border-left: 1px solid rgba(67, 75, 86, 0.25);
            }

            &__item {
                padding: 30px 45px;

                i {
                    font-size: 25px;
                    border-radius: 50%;
                    border: solid 1px rgba(67, 75, 86, 0.25);
                    width: 90px;
                    height: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto 30px;
                }

                &:nth-of-type(1) i {
                    color: #4cabb1;
                }

                &:nth-of-type(2) i {
                    color: #69c7ad;
                }

                &:nth-of-type(3) i {
                    color: #fed586;
                }
            }
        }
    }

    #carousel_altitude {
        &.slide {
            background-color: #fed586;
            padding: 70px 170px;
        }

        .carousel-content {
            padding: 60px 60px 30px;
            background-color: #fff;
        }

        .carousel-control {
            width: 170px;

            .glyphicon {
                width: 45px;
                height: 45px;
            }
        }
    }

    .about {
        padding: 70px 70px 40px;
        background-color: #fff;

        &__body {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;

            &__item {
                &:nth-of-type(odd) {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row-reverse;
                }

                &__content {
                    padding: 60px 60px 30px;

                    a {
                        background-color: #575b72;

                        &:hover {
                            background-color: #626780;
                        }
                    }
                }
            }
        }

    }
}

.footer {
    background-color: #4e5266;
    padding-bottom: 60px;
    text-align: center;

    &__top {
        background-color: #4cabb1;
        padding: 60px 60px 30px;

        &__header {
            h2 {
                color: #fff;
            }

            p {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        form {
            width: 500px;
            margin: 0 auto 30px;
            display: flex;

            input[type="email"],
            input[type="submit"] {
                height: 40px;
            }

            input[type="email"] {
                color: rgba(67, 75, 86, 0.75);
                background: #fff;
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-top-left-radius: 40px;
                border-bottom-left-radius: 40px;
                padding: 0 10px;
                flex: 1;
            }

            input[type="submit"] {
                border-top-right-radius: 40px;
                border-bottom-right-radius: 40px;
                box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
                background-color: #5ab7bd;
                color: #fff;
                font-weight: 600;
                padding: 0 30px;
                text-transform: uppercase;
                font-size: 12px;
                border: unset;
            }
        }
    }

    &__bottom {
        margin-top: 60px;
        color: rgba(255, 255, 255, 0.75);

        &__link {
            margin-bottom: 60px;

            >[class*=col-]:not(:first-child) {
                border-left: 1px solid rgba(255, 255, 255, 0.25);
            }

            &__item {
                h3 {
                    color: #fff;
                }

                ul {
                    margin: 30px 0;

                    li {
                        margin: 10px 0;

                        a:hover {
                            color: inherit;
                            border-bottom: 1px dotted rgba(255, 255, 255, 0.75);
                        }
                    }
                }
            }
        }

        &__contact {
            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

                i {
                    margin: 0 15px;

                    i {
                        margin-right: 10px;
                    }
                }
            }

            p {
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .header__bottom {
        flex-direction: column-reverse;

        &__intro {


            &__item {
                padding: 45px 40px 20px;
            }
        }
    }


    .main {
        .features__body {
            >[class*=col-]:not(:first-child) {
                border-left: unset;
                border-top: 1px solid rgba(67, 75, 86, 0.25);
            }

            &__item {
                padding: 40px 30px 10px;
            }
        }

        #carousel_altitude {
            &.slide {
                padding: 70px;
            }

            .carousel-control {
                width: 70px;

                .glyphicon {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .about__body__item__content {
            padding: 45px 45px 20px;
        }
    }

    .footer__bottom {
        &__link {
            >[class*=col-] {
                &:nth-of-type(odd) {
                    border-left: unset;
                }

                &:nth-of-type(n + 3) {
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                }
            }

            &__item {
                padding-top: 35px;

                &:nth-of-type(odd) {
                    border-left: unset;
                }

                &:nth-of-type(n + 3) {
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                }
            }
        }


        &__contact {
            ul {
                display: block;

                li {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

        }
    }
}

@media (max-width: 767.98px) {
    .header__bottom__intro {
        &__item {
            padding: 30px 35px 15px !important;
        }
    }

    .main {
        .features {
            padding: 35px 35px 20px;

            &__body__item i {
                width: 60px;
                height: 60px;
            }
        }

        #carousel_altitude {
            &.slide {
                padding: 30px;
            }

            .carousel-item {
                display: block;
                margin: 0;
                transition: unset;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            .carousel-control {
                display: none;
            }
        }

        .about {
            padding: 35px 35px 20px;
        }
    }

    .footer__top {
        padding: 30px 35px 15px;

        form {
            width: 100%;
        }
    }
}

@media (max-width: 575.98px) {
    .header__bottom__intro>.row>[class*=col-] {
        width: 100%;
    }

    .main {
        .features {
            padding: 35px 15px 10px;

            &__body__item {
                padding: 30px 15px 0;
            }
        }

        #carousel_altitude {
            &.slide {
                padding: 30px 15px;
            }

            .carousel-content {
                padding: 15px;
            }
        }

        .about {
            padding: 15px 15px 10px;

            &__body__item__content {
                padding: 30px 15px;
            }
        }
    }

    .footer__top {
        padding: 15px 15px 5px;

        form {
            input[type="email"] {
                min-width: 1px;
            }

            input[type="submit"] {
                padding: 0 10px;
            }
        }
    }
}
