<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Bài tập buổi 5 - Bài 2</title>
</head>
<body>
  <div class="container">
    <div class="row article__item highlight">
      <div class="col-pc-8 col-tb-12">
        <div class="article__item__img">
          <span>800 x 400</span>
        </div>
      </div>
      <div class="col-pc-4 col-tb-12">
        <div class="article__item__content">
          <div class="article__item__content__title">Titre de I'article</div>
          <div class="article__item__content__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptates eos adipisci nemo. Voluptatibus nobis at voluptate deserunt consequuntur nostrum accusantium, iste ducimus tenetur id eos eligendi suscipit quaerat voluptatem.</div>
          <a class="article__item__content__author">Par Jean-Michel Auteur</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-pc-4 col-tb-6 col-mb-12 article__item">
        <div class="article__item__img">
          <span>300 x 150</span>
        </div>
        <div class="article__item__content">
          <div class="article__item__content__title">Titre de I'article</div>
          <div class="article__item__content__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quis aspernatur ipsa exercitationem, id nesciunt fuga optio, voluptate iure incidunt eaque quod alias nostrum minus? Fugit iure rerum soluta animi. Fugit iure rerum soluta animi.</div>
          <a class="article__item__content__author">Par Jean-Michel Auteur</a>
        </div>
      </div>

      <div class="col-pc-4 col-tb-6 col-mb-12 article__item">
        <div class="article__item__img">
          <span>300 x 150</span>
        </div>
        <div class="article__item__content">
          <div class="article__item__content__title">Titre de I'article</div>
          <div class="article__item__content__body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi iusto quasi ipsa accusamus aliquam eum, maiores nesciunt reprehenderit, corrupti delectus quis sed eligendi natus a tempora excepturi esse facilis repudiandae?</div>
          <a class="article__item__content__author">Par Jean-Michel Auteur</a>
        </div>
      </div>

      <div class="col-pc-4 col-tb-6 col-mb-12 article__item">
        <div class="article__item__img">
          <span>300 x 150</span>
        </div>
        <div class="article__item__content">
          <div class="article__item__content__title">Titre de I'article</div>
          <div class="article__item__content__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur harum officiis quo aspernatur rem illum, ipsa placeat similique quam quod hic magnam numquam doloribus voluptatum veniam libero labore suscipit! Rerum?</div>
          <a class="article__item__content__author">Par Jean-Michel Auteur</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>