* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.col-pc-1 {
  width: calc(100% / 12 * 1);
}
.col-pc-2 {
  width: calc(100% / 12 * 2);
}
.col-pc-3 {
  width: calc(100% / 12 * 3);
}
.col-pc-4 {
  width: calc(100% / 12 * 4);
}
.col-pc-5 {
  width: calc(100% / 12 * 5);
}
.col-pc-6 {
  width: calc(100% / 12 * 6);
}
.col-pc-7 {
  width: calc(100% / 12 * 7);
}
.col-pc-8 {
  width: calc(100% / 12 * 8);
}
.col-pc-9 {
  width: calc(100% / 12 * 9);
}
.col-pc-10 {
  width: calc(100% / 12 * 10);
}
.col-pc-11 {
  width: calc(100% / 12 * 11);
}
.col-pc-12 {
  width: calc(100% / 12 * 12);
}

.article__item {
  margin-bottom: 30px;
}
.article__item.highlight {
  margin-top: 30px;
}

.article__item__img {
  height: 150px;
  background: #cdcdcd;
  position: relative;
}
.article__item__img span {
  font-size: 30px;
  color: #999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article__item__content {
  margin-top: 20px;
}
.article__item__content__title {
  font-size: 18px;
  font-weight: bold;
}
.article__item__content__body {
  margin-top: 25px;
  margin-bottom: 10px;
}
.article__item__content__author {
  color: #888888;
}

.article__item.highlight .article__item__img {
  height: 400px;
}
.article__item.highlight .article__item__img span {
  font-size: 60px;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
  .col-tb-1 {
    width: calc(100% / 12 * 1);
  }
  .col-tb-2 {
    width: calc(100% / 12 * 2);
  }
  .col-tb-3 {
    width: calc(100% / 12 * 3);
  }
  .col-tb-4 {
    width: calc(100% / 12 * 4);
  }
  .col-tb-5 {
    width: calc(100% / 12 * 5);
  }
  .col-tb-6 {
    width: calc(100% / 12 * 6);
  }
  .col-tb-7 {
    width: calc(100% / 12 * 7);
  }
  .col-tb-8 {
    width: calc(100% / 12 * 8);
  }
  .col-tb-9 {
    width: calc(100% / 12 * 9);
  }
  .col-tb-10 {
    width: calc(100% / 12 * 10);
  }
  .col-tb-11 {
    width: calc(100% / 12 * 11);
  }
  .col-tb-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
  .col-mb-1 {
    width: calc(100% / 12 * 1);
  }
  .col-mb-2 {
    width: calc(100% / 12 * 2);
  }
  .col-mb-3 {
    width: calc(100% / 12 * 3);
  }
  .col-mb-4 {
    width: calc(100% / 12 * 4);
  }
  .col-mb-5 {
    width: calc(100% / 12 * 5);
  }
  .col-mb-6 {
    width: calc(100% / 12 * 6);
  }
  .col-mb-7 {
    width: calc(100% / 12 * 7);
  }
  .col-mb-8 {
    width: calc(100% / 12 * 8);
  }
  .col-mb-9 {
    width: calc(100% / 12 * 9);
  }
  .col-mb-10 {
    width: calc(100% / 12 * 10);
  }
  .col-mb-11 {
    width: calc(100% / 12 * 11);
  }
  .col-mb-12 {
    width: calc(100% / 12 * 12);
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}