@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$color_outline : #eee;
$color_text : #777;
$color_active : #d8823b;
$size_border : 8px;
$size_search : 70px;

@mixin time-transition {
    transition: all .5s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

button:focus,
input:focus {
    outline: none;
}

body {
    background-color: $color_outline;
    font-family: 'Roboto', sans-serif;
}

.menu {
    width: 270px;
    // height: 100vh;
    margin-left: 50px;
    margin-right: auto;

    ul {
        background-color: #fff;

        li {
            color: $color_text;
            border-bottom: 1px solid $color_outline;
            @include time-transition;
            position: relative;

            a {
                padding: 15px 20px;
                display: flex;
                color: inherit;

                i {
                    font-size: 28px;
                    margin-right: 10px;
                    width: 32px;
                    display: flex;
                    justify-content: center;
                }

                span {
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: bold;

                    small {
                        font-size: 14px;
                        margin-top: 5px;
                        display: block;
                        text-transform: lowercase;
                        font-weight: normal;
                    }
                }
            }

            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 240px;
                border-left: $size_border solid $color_active;
                opacity: 0;
                transform: scale(0.6);
                transform-origin: 0% calc(74px / 2);
                @include time-transition;

                li {
                    a {
                        padding: 12px 15px;

                        i {
                            font-size: 20px;
                            width: 26px;
                        }

                        span {
                            font-size: 16px;
                            text-transform: capitalize;
                            font-weight: 500;
                        }
                    }

                    ul {
                        min-width: 200px;
                        transform-origin: 0% calc(45px / 2);
                    }
                }
            }

            &.active {
                color: $color_active;
                box-shadow: 0 0 2px 3px $color_outline;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    border: $size_border solid;
                    top: calc((100% - #{$size_border * 2}) / 2);
                }

                &::before {
                    left: 0;
                    border-color: transparent transparent transparent $color_active;
                }

                &::after {
                    right: 0;
                    border-color: transparent $color_active transparent transparent;
                }

                a {

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: $size_border;
                        top: 0;
                        bottom: 0;
                        background-color: $color_active;
                    }

                    &::before {
                        left: -$size_border;
                    }

                    &::after {
                        right: -$size_border;
                    }
                }

            }

            &.dropdown::after {
                content: "";
                position: absolute;
                border: $size_border solid;
                top: calc((100% - #{$size_border * 2}) / 2);
                right: 0;
                border-color: transparent $color_active transparent transparent;
                opacity: 0;
                @include time-transition;
            }

            &.dropdown.active::after {
                opacity: unset;
            }

            &:hover {
                color: $color_active;

                > ul {
                    opacity: 1;
                    transform: scale(1);
                }

                &.dropdown::after {
                    opacity: 1;
                }
            }
        }
    }

    form {
        padding: 20px;
        background-color: #fff;
        display: flex;

        input {
            flex: 1;
            height: $size_search;
            border: 1px solid $color_outline;
            padding: 20px;
            color: $color_text;
            font-size: 20px;

            &::placeholder {
                color: inherit;
            }
        }

        button {
            width: $size_search;
            background-color: $color_active;
            border: none;
            font-size: 32px;

            i {
                color: #fff;
            }
        }
    }
}
